[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=gcp-user
WorkingDirectory=/home/gcp-user/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
